name: Test actions

on:
  pull_request_target:
    types:
      - labeled
      - opened
      - reopened
      - synchronize
  workflow_dispatch:

jobs:
  test:
    name: Test actions
    runs-on: [self-hosted, linux, x64]
    if: contains(github.event.pull_request.labels.*.name, 'OK To Test') || github.event_name == 'workflow_dispatch'
    steps:
      - name: Checkout the project
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          submodules: true
      - name: Test lint action
        uses: ./lint
      - name: Setup catkin workspace with a sample package
        shell: bash
        run: |
          mkdir -p catkin_ws/src
          cd catkin_ws/src
          git clone https://github.com/ros/common_tutorials.git --depth=1 --branch=noetic-devel project
          cd project
          rosinstall_generator actionlib_msgs --rosdistro noetic --upstream | tee .travis.rosinstall
          cd ../../..
          tree -a -I .git
      - name: Test setup_catkin_workspace action
        uses: ./setup_catkin_workspace
        with:
          catkin_workspace: catkin_ws
      - name: Test build_catkin_workspace action
        uses: ./build_catkin_workspace
        with:
          catkin_workspace: catkin_ws
      - name: Test test_catkin_workspace action
        uses: ./test_catkin_workspace
        with:
          catkin_workspace: catkin_ws
      - name: Test lint_clang_tidy action
        uses: ./lint_clang_tidy
