name: Test actions

on:
  pull_request_target:
  workflow_dispatch:

jobs:
  test:
    name: Test actions
    runs-on: [self-hosted, linux, x64]
    steps:
      - name: Checkout the project
        uses: actions/checkout@v3
      - name: Test lint action
        uses: ./lint
        with:
          user: GITAI
          token: ${{ secrets.GH_TOKEN }}
