name: Test actions

on:
  pull_request_target:
    types: [labeled]
  workflow_dispatch:

jobs:
  test:
    name: Test actions
    runs-on: [self-hosted, linux, x64]
    if: contains(github.event.pull_request.labels.*.name, 'OK To Test')
    steps:
      - name: Checkout the project
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          submodules: true
      - name: Test lint action
        uses: ./lint
      - name: Setup catkin workspace with a sample package
        shell: bash
        run: |
          mkdir -p catkin_ws/src
          cd catkin_ws/src
          catkin create pkg project -c roscpp_tutorials rospy_tutorials
          cd project
          rosinstall_generator roscpp_tutorials rospy_tutorials --rosdistro noetic --upstream >> .travis.rosinstall
      - name: Test setup_catkin_workspace action
        uses: ./setup_catkin_workspace
        with:
          catkin_workspace: catkin_ws
