name: Test actions

on:
  pull_request_target:
    types:
      - labeled
      - opened
      - reopened
      - synchronize
  workflow_dispatch:

jobs:
  test:
    name: Test actions
    runs-on: [self-hosted, linux, x64]
    if: contains(github.event.pull_request.labels.*.name, 'OK To Test') || github.event_name == 'workflow_dispatch'
    steps:
      - name: Cleanup workspace
        uses: AutoModality/action-clean@v1
      - name: Checkout the project
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          submodules: true
          fetch-depth: 0
      - name: Test lint action
        uses: ./lint
      - name: Setup catkin workspace with a sample package
        shell: bash
        run: |
          mkdir -p catkin_ws/src
          cd catkin_ws/src
          git clone https://github.com/ros/common_tutorials.git --depth=1 --branch=noetic-devel project
          cd project
          rosinstall_generator actionlib_msgs --rosdistro noetic --upstream | tee .travis.rosinstall
          cd ../../..
          tree -a -I .git
      - name: Test setup_catkin_workspace action
        uses: ./setup_catkin_workspace
        with:
          catkin_workspace: catkin_ws
      - name: Test build_catkin_workspace action
        uses: ./build_catkin_workspace
        with:
          catkin_workspace: catkin_ws
      - name: Test test_catkin_workspace action
        uses: ./test_catkin_workspace
        with:
          catkin_workspace: catkin_ws
      - name: Test lint_clang_tidy action
        uses: ./lint_clang_tidy
      - name: Test save cache action
        uses: ./cache
        id: cache_build
        with:
          method: save
          path: ./catkin_ws/build
          bucket: ${{ secrets.AWS_S3_BUCKET_NAME }}

  test-cache:
    name: Test cache action
    runs-on: [self-hosted, linux, x64]
    if: contains(github.event.pull_request.labels.*.name, 'OK To Test') || github.event_name == 'workflow_dispatch'
    needs: test
    steps:
      - name: Cleanup workspace
        uses: AutoModality/action-clean@v1
      - name: Checkout the project
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          submodules: true
          fetch-depth: 0
      - name: Test load cache action
        uses: ./cache
        with:
          method: load
          key: cache_build
          path: ./foo
          bucket: ${{ secrets.AWS_S3_BUCKET_NAME }}
      - name: Check cache exists
        shell: bash
        run: |
          cd foo
          test $(ls -l | wc -l) -gt 1
      - name: Test clear cache action
        uses: ./cache
        with:
          method: clear
          key: cache_build
          bucket: ${{ secrets.AWS_S3_BUCKET_NAME }}
      - name: Test load cleared cache action
        uses: ./cache
        with:
          method: load
          key: cache_build
          path: ./bar
          bucket: ${{ secrets.AWS_S3_BUCKET_NAME }}
      - name: Check cache does not exist
        shell: bash
        run: |
          cd bar
          test $(ls -l | wc -l) -eq 1
